MEL-25_agent-2/n8n/workflows/bcd-analysis-pipeline.json
{
  "name": "BCD Analysis Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bcd-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-bcd-analysis",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "bcd-analysis-trigger"
    },
    {
      "parameters": {
        "url": "http://api:8000/api/agents/bcd-research/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "researchType",
              "value": "full"
            }
          ]
        },
        "options": {}
      },
      "id": "start-bcd-research",
      "name": "Start BCD Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-research-status",
      "name": "Check Research Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/latex/generate-bcd-strategy",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "BCD Marketing Strategy Research - {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-latex-document",
      "name": "Generate LaTeX Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/latex/{{ $json.document.id }}/compile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "compile-latex-document",
      "name": "Compile LaTeX Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/research/stats/summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-research-summary",
      "name": "Get Research Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"BCD Analysis Pipeline completed\", \"research_summary\": $json, \"timestamp\": $now } }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"BCD Research failed\", \"error\": $json.error, \"timestamp\": $now } }}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Start BCD Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start BCD Research": {
      "main": [
        [
          {
            "node": "Check Research Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Research Status": {
      "main": [
        [
          {
            "node": "Generate LaTeX Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LaTeX Document": {
      "main": [
        [
          {
            "node": "Compile LaTeX Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile LaTeX Document": {
      "main": [
        [
          {
            "node": "Get Research Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Research Summary": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "bcd-analysis",
      "name": "BCD Analysis"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
} 